.card-header {
  background-color: #3490f1 !important;
  color: #ffffff;
}

.card {
  border-radius: 20px !important;
  width: 35%;
}

.form-control:hover {
  background-color: #f8f9fa;
}
/* App.css or ViewContact.module.css */
.card-header {
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
}

.card {
  transition: transform 0.2s; /* Animation for hover effect */
}

.card:hover {
  transform: scale(1.03); /* Slightly enlarge cards on hover */
}
.viewContact {
  max-height: 600px;
  overflow-y: auto;
  white-space: nowrap;
  padding: 20px;
}
